.python{ background-color: #2A5579; }

.django{ background-color: #0c4b33;}

.html{ background-color: #972F11;}

.css{ background-color: #563e7c;}

.javascript{ background-color: #853c00;}

.djangorest{ background-color: #a30000;}

.postman{ background-color: #992A00;}

.scss{ background-color: #932A52;}