.python{ background-color: #3573a6;}

.django{ background-color: #0c4b33;}

.html{ background-color: #e44c27;}

.css{ background-color: #563e7c;}

.javascript{ background-color: #f1e15a;}

.djangorest{ background-color: #a30000;}

.postman{ background-color: #ff6c37;}

.scss{ background-color: #c6538c;}