@import "functions.scss";

@media (prefers-reduced-motion:no-preference){
    *{ scroll-behavior: smooth; }
}

@media screen and (max-width: 1300px){
    #navbar{
        justify-content: space-between;
    }

    #logo{
        display: block;
    }
    
    #main-content{
        overflow: auto;
        @include flex(column,center,flex-start);
    }

    #welcome,#content-overflow{
        overflow: visible;
        padding-bottom: 0;
        min-height: fit-content;
        @include dimensions(65%,65%);
    }

    #welcome{
        padding-top: 25px;
        margin-bottom: 100px;
    }

    #content-section{
        display: block;
        height: fit-content;
        max-height: fit-content;
    }

    .content-title{
        display: block;
    }

    .content-container{
        overflow: visible;
        padding-bottom: 0;
        margin-bottom: 100px;
        @include dimensions(100%,100%);
    }
}

@media screen and (max-width: 875px){
    #welcome,#content-overflow{
        width: 75%;
        max-width: 75%;
    }
}

@media screen and (max-width: 775px){
    #welcome,#content-overflow{
        width: 85%;
        max-width: 85%;
    }

    #logo{
        visibility: hidden;
    }
    
    #links a{
        display: none;
    }
    
    #nav-pane{
        display: flex;
    }

    .toggle-nav-pane{
        display: block;
    }
}

@media screen and (max-width: 675px){
    #welcome,#content-overflow{
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 575px){
    #introduction h1{
        @include flex(column,flex-start,flex-start);
    }

    #hello{
        margin-bottom: 10px;
    }

    form.contact div{
        flex-direction: column;
    }

    form.contact > div > label{
        margin-bottom: 5px;
        width: fit-content;
        max-width: fit-content;
    }

    .input{
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 350px){
    #name,#cursor{
        display: none;
    }

    #static-name{
        display: block;
    }
}