@import "functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --red: #F50000;
    --green: #00F500;
    --black: #333333;
    --light-black: #626262;
    --white: #F5F5F5;
    --neu-light: #F5F5F5;
    --neu-shadows: #626262;
}

body{
    overflow: hidden;
    background-color: var(--black);
    @include flex(column,center,center);
    @include dimensions(100vw,100vw,100vh,100vh);
}

#root{
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    @include flex(column,center,flex-start);
    @include dimensions(100%,1500px,100%,800px);
}

// ====================BUTTON====================

.button{
    cursor: pointer;
    display: block;
    padding-block: 5px;
    padding-inline: 10px;
    color: var(--black);
    text-align: center;
    border-radius: 5px;
    @include border($width:2px);
    border-right-width: 5px;
    border-bottom-width: 5px;
}

.button:focus,
.button:active,
.disabled-button{
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.success-message{
    text-align: center;
    border-color: var(--green) !important;
}

.error-message{
    border-color: var(--red) !important;
}

// ====================NAVBAR====================

#navbar{
    @include dimensions(100%,100%);
    @include flex(row,center,flex-end);
}

#logo{
    display: none;
    margin-inline: 25px;
    padding: 10px;
    @include dimensions();
    @include text(27.5px);
    text-decoration: none;
    border-radius: 50%;
    @include border($width:2px,$style:dashed);
}

#links{
    margin: 25px;
    @include dimensions();
    @include flex(row,center,flex-end);
}

.nav-link{
    margin-right: 25px;
    @include dimensions(150px,150px);
    @include text(20px);
    text-decoration: none;
}

#links a:last-of-type{
    margin-right: 0;
}

// ====================NAVPANE====================

.toggle-nav-pane{
    display: none;
    padding: 0;
    min-width: 50px;
    min-height: 40px;
    @include dimensions(50px,50px,40px,40px);
}

#nav-pane{
    z-index: 1;
    position: absolute;
    right: -250px;
    padding: 25px;
    @include dimensions($height:100%,$max-height:100%);
    @include flex(column,flex-start,flex-start);
    display: none;
    background-color: var(--white);
    border-left: 2px solid var(--black);
    transition: right 0.5s linear;
}

#nav-pane::-webkit-scrollbar{
    display: none;
}

#nav-pane > .toggle-nav-pane{
    margin-bottom: 25px;
    align-self: flex-end;
}

#nav-links{
    overflow: auto;
}

#nav-links::-webkit-scrollbar{
    display: none;
}

#nav-links > .nav-link{
    margin-right: 0;
    margin-bottom: 25px;
    text-align: left;
}

// ====================MAIN CONTENT====================

#main-content{
    --section1: 50%;
    --section2: calc(100% - var(--section1));
    overflow: hidden;
    @include dimensions(100%,100%);
    flex-grow: 1;
    @include flex(row,flex-start,flex-start);
    background-color: var(--white);
}

#main-content::-webkit-scrollbar{
    display: none;
}

// ====================WELCOME====================

#welcome{
    overflow: auto;
    padding-inline: 25px;
    padding-block: 0 15px;
    @include dimensions(var(--section1),var(--section1),100%,100%);
    flex-wrap: wrap;
    @include flex(row,$justify:flex-start);
}

#welcome::-webkit-scrollbar{
    width: initial;
}

#welcome::-webkit-scrollbar-thumb{
    background-color: var(--light-black);
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
}

#welcome::-webkit-scrollbar-track{
    background-color: var(--black);
    border-left: 8px solid var(--white);
    border-right: 8px solid var(--white);
}

.welcome{
    margin-bottom: 50px;
    @include dimensions(100%,100%);
}

.welcome:last-of-type{
    margin-bottom: 0px;
}

// ====================INTRODUCTION====================

.block-title{
    --font-size: 24px;
    margin-bottom: 15px;
    font-weight: normal;
    @include text(var(--font-size),var(--font-size));
}

#introduction{
    @include flex(column,flex-start,flex-start);
}

#introduction h1{
    --name: calc(var(--font-size) + 4px);
    min-height: calc(var(--font-size) + 6px);
    flex-wrap: wrap;
    @include flex(row,flex-end);
}

#hello{
    display: block;
    margin-right: 17px;
}

#introduction h1 > span:last-of-type{
    @include flex(row,flex-end,flex-start);
}

#name{
    display: block;
    @include text(var(--name),var(--name));
}

#cursor{
    display: block;
    @include dimensions(
        24px,24px,
        var(--name),var(--name)
    );
    border-bottom: 5px solid var(--black);
    opacity: 0;
    animation: blink 0.5s linear infinite;
}

@keyframes blink{
    0%{ opacity: 0; }
    50%{ opacity: 0.5; }
    100%{ opacity: 1; }
}

#description{
    @include text(19px);
    @include dimensions(100%,100%);
}

// ====================SKILLSET====================

#skill-set{
    @include flex(column,flex-start,flex-start);
}

#skill-set h2{
    display: block;
}

#skill-set h2 span:first-child{
    text-decoration: line-through var(--red) solid 7px;
}

#skill-set h2 span:last-child{
    color: var(--red);
}

#skills{
    @include dimensions(100%,100%);
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
}

#skills span{
    --blur: 0px;
    --distance: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    @include text(19px);
    border-radius: 5px;
    @include border($style:dashed);
    background: var(--white);
    box-shadow:  var(--distance) var(--distance) var(--blur) var(--neu-shadows),
    calc(var(--distance) * -1) calc(var(--distance) * -1) var(--blur) var(--neu-light);
}

// ====================SOCIALS====================

#socials{
    --border-radius: 5px;
    align-self: flex-end;
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
}

.social-link{
    --padding: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 5px;
    @include dimensions();
    @include flex(column,center,center);
    color: var(--black);
    text-decoration: none;
    @include border($width:2px);
    border-radius: calc(var(--border-radius) + var(--padding));
}

.social-link img{
    padding: 5px;
    object-fit: contain;
    @include border($style:dashed);
    border-radius: var(--border-radius);
}

// ====================CONTENT====================

#content-overflow{
    overflow: hidden;
    @include dimensions(var(--section2),var(--section2),100%,100%);
}

#content-section{
    display: flex;
    @include dimensions(100%,100%,100%,100%);
}

.content-title{
    display: none;
    margin-bottom: 25px;
    @include text(30px);
}

.content-container{
    overflow: auto;
    padding: 25px;
    padding-top: 0;
    min-width: 0;
    flex: 0 0 100%;
    transform: translate3d(0, 0, 0);
    @include text(19px);
    background-color: var(--white);
    &::-webkit-scrollbar{
        display: none;
    }
}

// ====================SHOWCASE====================

.project-tile,
.experience-tile{
    margin-bottom: 25px;
    @include dimensions(100%,100%);
    @include flex(column,flex-start,flex-start);
    border-radius: 10px;
    @include border($width:2px);
}

.project-tile:last-of-type,
.experience-tile:last-of-type{
    margin-bottom: 0;
}

.period-title{
    padding: 10px;
    @include dimensions(100%,100%);
    flex-wrap: wrap-reverse;
    @include flex(row,baseline,flex-start);
    font-weight: bold;
    color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--black);
}

.period{
    margin-right: 50px;
    @include dimensions();
}

.title{
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    @include dimensions();
}

.title::after{
    content: "⇧";
    margin-left: 10px;
    display: inline-block;
    transform: rotate(90deg) scale(1.25);
}

.title:hover::after{
    animation: wave 1s linear infinite;
}

@keyframes wave{
    0%{ transform: rotate(90deg) scale(1.25); }
    50%{ transform: rotate(90deg) scale(1.75); }
    100%{ transform: rotate(90deg) scale(1.25); }
}

.objectives,
.description{
    padding: 10px;
    @include dimensions(100%,100%);
}

.experience-tile .description{
    font-weight: bold;
}

.objectives{
    list-style-position: inside;
    border-top: 2px dashed var(--black);
}

.objectives li{
    padding-left: 15px;
    margin-bottom: 2.5px;
}

.tools{
    padding: 10px;
    padding-bottom: 0;
    @include dimensions(100%,100%);
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
    border-top: 2px dashed var(--black);
}

.tools span{
    padding-inline: 5px;
    padding-block: 2.5px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--white);
    font-weight: bold;
}

// ====================CONTACT====================

.contact{
    margin-bottom: 25px;
    @include dimensions(100%,100%);
}

.contact:last-child{
    margin-bottom: 0;
}

form.contact{
    @include flex(column,center,flex-start);
}

.form-group{
    --label: 20%;
    --space: 25px;
    --input: calc(100% - var(--space) - var(--label));
    margin-bottom: 15px;
    @include dimensions(100%,100%);
    @include flex(row,baseline,flex-start);
}

.last-child{
    margin-bottom: 25px;
}

#form-result,
.form-group > *{
    padding-block: 5px;
    padding-inline: 10px;
    @include text(18px);
    border: 2px solid var(--black);
}

.form-group label{
    margin-right: var(--space);
    @include dimensions(var(--label),var(--label));
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
}

.input{
    background-color: var(--white);
    min-width: var(--input);
    @include dimensions(var(--input),var(--input));
}

.input:active,.input:focus{
    outline: none;
    border-style: dashed;
}

textarea.input{
    min-height: 100px;
    &::-webkit-scrollbar{
        display: none;
    }
}

form.contact > input{
    margin-bottom: 25px;
    white-space: normal;
    font-weight: bold;
    @include text(18px);
    @include dimensions($max-width:100%);
}

#form-result{
    font-weight: bold;
    white-space: normal;
    @include dimensions(100%,100%);
    ol{
        list-style-position: inside;
    }
}