@import "functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --display: "normal"; /* changes when the webpage is viewed on smaller devices */
    --red: #F50000;
    --green: #00F500;
    --black: #333333;
    --light-black: #626262;
    --white: #F5F5F5;
    --neu-light: #F5F5F5;
    --neu-shadows: #626262;
}

body{
    background-color: var(--white);
    @include flex(column,center,center);
    @include dimensions(100vw,100vw,100vh,100vh);
}

#root{
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    @include flex(column,center,flex-start);
    @include dimensions(100%,1500px,100%,100%);
}